/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* --bg-gradient: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #5E4B1E 0%, #2B2A28 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%);
--body-text: #f0efeb;


background: var(--bg-gradient);
color: var(--body-text); */
/* h1{
  padding: 0;
} */



/* :root {
  --s-5: 5px;
  --s-10: 10px;
  --s-20: 20px;
  --s-40: 40px;
  --s-80: 80px;
  --s-160: 160px;
  --s-320: 320px;
  --s-content: calc(100vh - var(--s-80) - var(--s-10));
  --carousel-width: 100vw;
  --carousel-height: calc(0.7 * var(--carousel-width));
  --carousel-padding: 5px;
}

@media (max-width: 479px) {
  :root {
    --carousel-width: 95vw;
  }
} */

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

html {
  /* overflow: hidden; */
  height: 100%;
  /* background-color: black; */
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* overflow: hidden; */
    /* height: 500vh; might need? */
    /* overflow: auto; */
    overflow-x: hidden;
    /* background-image: url("../public/images/background2.png"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: rgb(49, 49, 49);
    min-height: 100%;
    /* text-decoration-thickness: 1px; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


section{
  /* height: 100vh; */
  padding-top: 20px;
}


/* section::after {
  content: "";
  display: table;
  clear: both;
} */
/* img, video {
    max-width: 100%;
    height: auto;
} */


.carouselall{
  position: absolute;
  top: 50%;
  left: 0%;
}


.BrainhubCarousel__arrows {
  position: relative;
  padding: 21px;
  border: none;
  overflow: hidden;
  outline: 0;
  font-size: 0;
  line-height: 0;
  background-color: #000000 !important;
  background-color: none !important;
  }