/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/




 /* 
test theory
 ---- 13.3" ( my Macbook laptop ) = 2560px
 ---- 15.4" ( bigger Macbooks laptop ) = 2880px
 ---- 21.5" most desktop and IMac size = 1921px
 ---- 23" (mums desktop ) = ?
 ---- 27.0" Big IMac size = 5120px
 ---- 28.0" desktop = 3840px
 
 */


@font-face {
  font-family: "FPTypewriter";
  src: url('../fonts/FPTypewriterDEMO-RegularItalic.otf');
  font-weight: normal;
  /* font-style: italic; */
}




 /* -----------  -----------  ----------- Desktops and laptops  ----------- ----------- ----------- */



.test3{
  --bg-gradient: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #5E4B1E 0%, #2B2A28 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%);
--body-text: #f0efeb;
  background-image: url("../public/images/backgroundbottompart3.png");
  height: 710vh;
  position: absolute;
  top: 75vh;
  pointer-events: none;
  width: 100vw;
  z-index: 15;
}


.test3mobile{
  --bg-gradient: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #5E4B1E 0%, #2B2A28 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%);
--body-text: #f0efeb;
  background-image: url("../public/images/backgroundbottompart3.png");
  height: 638vh;
  position: absolute;
  top: 75vh;
  left: -2%;
  pointer-events: none;
  width: 110vw;
  z-index: 15;
  /* box-shadow: 0px 10px 10px #8cffda, 0px -20px 10px  #8cffda; */
}

.test3saf{
  --bg-gradient: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #5E4B1E 0%, #2B2A28 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%);
--body-text: #f0efeb;
  background-image: url("../public/images/backgroundbottompart3.png");
  height: 650vh;
  position: absolute;
  top: 75vh;
  pointer-events: none;
  width: 100vw;
  z-index: 15;
}


.test3fire{
  --bg-gradient: linear-gradient(169.78deg, rgba(255, 255, 255, 0.23) 4.65%, rgba(255, 255, 255, 0) 91.48%), radial-gradient(62.3% 67.27% at 20.42% 27.48%, #5E4B1E 0%, #2B2A28 100%), linear-gradient(112.91deg, #676561 3.51%, #242321 111.71%);
--body-text: #f0efeb;
  background-image: url("../public/images/backgroundbottompart3.png");
  height: 710vh;
  position: absolute;
  top: 80vh;
  pointer-events: none;
  width: 100vw;
  z-index: 15;
}


.figuren {
   position: fixed;
  /* width: 105%; */
  height: 100%;
  z-index: 10000;
  -webkit-filter: drop-shadow(0rem .5rem 1rem crimson);
          filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;
  mix-blend-mode: lighten;
}

.figurencontmobile {
  position: fixed;
 /* width: 105%; */
 height: 100%;
 z-index: -50;
 -webkit-filter: drop-shadow(0rem .5rem 1rem crimson);
         filter: drop-shadow(0rem .5rem 1rem crimson);
 pointer-events: none;
}



.figurenmobile {
  /* position: relative; */
   position: fixed;
  height: 100vh;
  z-index: -50;
  -webkit-filter: drop-shadow(0rem .5rem 1rem crimson);
          filter: drop-shadow(0rem .5rem 1rem crimson);
  pointer-events: none;

}





.vidsection{
  position: absolute;
  top: 850vh;
  width: 90vw;
  height: 90vh;
  /* overflow:scroll; */
  /* left: -16vw; */
}


 /* -----------  chrome ----------- ----------- ----------- */


 /* .section{
  position: relative;
 } */


.wrapper{
  position: relative;
  z-index: 100;
  width: 100vw;
  top:30vh;
  /* height: fit-content; */
  height: 640vh;
  text-decoration-thickness: 1px;
  -moz-text-decoration-thickness: 1px;
  -webkit-text-decoration-thickness: 1px;
  /* overflow: hidden; */
  text-underline-offset: .5rem;
}



.wrapper > div {
  position: absolute;
  margin: 2vw;
  text-align: center;
  z-index: 100;
}


/* raw reality */
.wrapper > div:nth-child(1) {
  position: absolute;
  top: 10vh;
  left: 40vw;
  width: 60%;
}

.wrapper > div:nth-child(1) > p:nth-child(2) {
  text-decoration-thickness: 1px;
  font-size: 42px; font-size: calc(40px + 0.390625vw);
  z-index: 400;
  color: rgb(255, 102, 186);
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  font-family: serif;
  text-decoration: underline;
  z-index: 400 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-thickness: 1px;
  font-style: italic;
  position: absolute;
  top: 15vh;
  left: 22vw;
}





/* cute man made in britan*/
.wrapper > div:nth-child(2) {
  position: absolute;
  top: 96vh;
  left: 35vw;
  width: 60%;
}

.wrapper > div:nth-child(2) > p:nth-child(2) {
      text-decoration-thickness: 1px;
    font-size: 60px; font-size: calc(40px + 0.390625vw);
    font-family: serif;
    color: #ff85c7;
    color: white;
            font-style: italic;
            font-style:normal;
            position: absolute;
            top: 45vh;
            left: -5vw;
}



/* neon girl fashion */
.wrapper > div:nth-child(3) {
  position: absolute;
  top: 16vh;
  left: 0vw;
  width: 60%;
}


/* neon girl */
.wrapper > div:nth-child(3) > p:nth-child(2) {
  color: white;
      text-decoration-thickness: 1px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* line-height: 36px; */
  font-weight: 300;
  font-style:normal;
  /* font-style: italic; */
  font-family: serif;
  font-style: italic;
  text-decoration: none;
  /* text-decoration: none; */
  font-size: 48px; font-size: calc(40px + 0.390625vw);
  width: 75%;
  top: 45vh;
  left: 40vw;
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  font-family: serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  /* font-family: "FPTypewriter"; */
}


/* you dont need */
.wrapper > div:nth-child(4) {
  position: absolute;
  top: 540vh;
  left: 45vw;
  width: 30%;
  -webkit-transform: rotate(345deg);
      -ms-transform: rotate(345deg);
          transform: rotate(345deg);
}


.wrapper > div:nth-child(4) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* line-height: 36px; */
  font-weight: 300;
  color: #ffffff;
  /* color: #ff85c7; */
  font-style:normal;
  /* text-decoration: underline; */
  /* font-style: italic; */
  font-family: serif;
  font-style:normal;
  text-decoration: underline;
  font-style: italic;
  /* text-decoration: none; */
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 150%;
  top: 40vh;
  left: -15vw;
  text-decoration-thickness: 1px;
  font-style:normal;
  display: none;
  /* text-decoration: underline; */
  /* font-style: italic; */
}



/*  shooting not so  */
.wrapper > div:nth-child(5) {
  position: absolute;
  top: 140vh;
  left: 0vw;
  width: 60%;
}


.wrapper > div:nth-child(5) > img:nth-child(1){
  position: relative;
  top: 5vh;
}

.wrapper > div:nth-child(5) > p:nth-child(2) {
  position: absolute;
  width: 100%;
top: 90vh;
  left: 32vw;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  font-family: serif;
  color: white;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          font-style: italic;
          font-style:normal;
          /* text-decoration: underline; */
}




/* swalk */
.wrapper > div:nth-child(6) {
  position: absolute;
  top: 510vh;
  left: 25vw;
    -webkit-transform: rotate(341deg);
        -ms-transform: rotate(341deg);
            transform: rotate(341deg);
    width: 60%;
    z-index: 400;
}

/* love */
.wrapper > div:nth-child(6) p:nth-child(2)  {
  text-decoration-thickness: 1px;
  font-size: 89px; font-size: calc(92px + 0.390625vw);
  top: 0vh;
  left: 60%;
  z-index: 100;
  position: absolute;
  color: #7e2626;
  font-weight: 500;
  overflow: hidden;
  font-family: serif;
  font-style: normal;
  width: 100%;
  top: -35vw;
    left: -15vw;
    -webkit-transform: rotate(19deg);
        -ms-transform: rotate(19deg);
            transform: rotate(19deg);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: "FPTypewriter";
}


.wrapper > div:nth-child(6) img:nth-child(1)  {
  width: 80%;
  position: absolute;
  top: -20vh;
  left: 10vw;
}


/* blue */
.wrapper > div:nth-child(7) {
  position: absolute;
  top: 270vh;
  left: 40vw;
  width: 60%;
}

/* blue */
.wrapper > div:nth-child(7) > p:nth-child(2) {
  position: absolute;
  text-decoration-thickness: 1px;
top: 0vh;
left: 0vw;
color: #510202;
font-family: serif;
font-size:48px;
font-size: calc(30px + 0.390625vw);    
font-style: normal;
z-index: 400;
}

.wrapper > div:nth-child(7) > img:nth-child(1) {
  position: absolute;
  top: -20vh;
  z-index: 400;
    left: -15vw;
}


/* big head */
.wrapper > div:nth-child(8) {
  position: absolute;
  /* top: 480vh; */
  /* bottom: 155px; */
  bottom:0px; 
  left: -5vw;
  width: 60%;
  animation: none !important;
  -webkit-animation: none !important;
}


.wrapper > div:nth-child(8) > img:nth-child(1) {
  animation: none !important;
  -webkit-animation: none !important;
}


.wrapper > div:nth-child(8) > p:nth-child(2) {
display: none;
}


.wrapper{
padding-top: 200px;
text-decoration-thickness: 1px;
}



/* white blob */
.wrapper > div:nth-child(8) > p:nth-child(2) {
  /* color: rgb(255, 0, 0); */
      text-decoration-thickness: 1px;
  font-size: 42px; font-size: calc(40px + 0.390625vw);
  top: 0vh;
  left: 60%;
  z-index: 400;
  position: absolute;
  color: rgb(255, 102, 186);
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  font-family: serif;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* width: 200vw; */
  top: 35%;
    left: 49%;
  text-decoration: underline;
  z-index: 400 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-thickness: 1px;
  font-style: italic;
}






@-webkit-keyframes move-updown{
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
}
50% {
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
}
100% {
    -webkit-transform: translate(0);
            transform: translate(0);
}
}



@keyframes move-updown{
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
}
50% {
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
}
100% {
    -webkit-transform: translate(0);
            transform: translate(0);
}
}


@-webkit-keyframes floatimageleft{
  0% {
    -webkit-transform: translate(0) rotate(26deg);
            transform: translate(0) rotate(26deg);
}

50% {
    -webkit-transform: translate(3px,-40px) rotate(26deg);
            transform: translate(3px,-40px) rotate(26deg);
}
100% {
    -webkit-transform: translate(0) rotate(26deg);
            transform: translate(0) rotate(26deg);
}
}


@keyframes floatimageleft{
  0% {
    -webkit-transform: translate(0) rotate(26deg);
            transform: translate(0) rotate(26deg);
}

50% {
    -webkit-transform: translate(3px,-40px) rotate(26deg);
            transform: translate(3px,-40px) rotate(26deg);
}
100% {
    -webkit-transform: translate(0) rotate(26deg);
            transform: translate(0) rotate(26deg);
}
}


@-webkit-keyframes spin{
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
}
}


@keyframes spin{
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
}
}





  /* ------------------------ ------------------------ /* other stuff----------- */
.headtext1{
  line-height: 55px;
  /* font-family: wtqc; */
  font-weight: 300;
  font-size: 44px; font-size: calc(40px + 0.390625vw);
  padding-bottom: 20px;
  color: white;
  z-index: 100;
}

.test{
width: 70%;
position: absolute;

}

.headtext2{
  line-height: 55px;
  /* font-family: wtqc; */
  font-weight: 300;
  font-size: 44px; font-size: calc(40px + 0.390625vw);
  padding-bottom: 20px;
  color: white;
  z-index: 100;
}

.flower1{
  /* position:relative; */
  top: -183vh;
  left: 52vw;
  z-index: 100;
  width: 60%;
  overflow: hidden;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
}

.flowergreen{
  position:absolute;
  /* top: -143vh; */
  /* z-index: 100; */
  width: 30%;
  overflow: hidden;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
  top: 250vh;
    left: 72vw;
}


.flowergreensaf{
  position:absolute;
  /* top: -143vh; */
  /* z-index: 100; */
  width: 30%;
  overflow: hidden;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
  top: 220vh;
    left: 72vw;
}

.man{
  z-index: 100;
  width: 50%;
  overflow: hidden;
  position: absolute;
  /* height: 20%; */
  left: 0vw;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
  top: 240vh;
  -webkit-animation: glitter 5s infinite;
          animation: glitter 5s infinite;
}


.manchrome{
  z-index: 100;
  width: 50%;
  overflow: hidden;
  position: absolute;
  /* height: 20%; */
  left: 0vw;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
  top: 270vh;
  -webkit-animation: glitter 5s infinite;
          animation: glitter 5s infinite;
}

@-webkit-keyframes glitter {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}

25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
}

@keyframes glitter {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}

25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
}
100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
}
}

/* purple flower */
.botflower{
  z-index: 100;
  width: 80%;
  overflow: hidden;
 
}

.botflowercont{
  position: absolute;
  /* top:399vh; */
  width: 90%;
  bottom: 0px;
  left: 20vw;
  /* bottom: 155px; */
}


.botflowercontsaf{
  position: absolute;
    top: -425vh;
    left: 15vw;
}

.botflowercontfire{
  position: absolute;
    top: -448vh;
    left: 15vw;
}

.flower1n{
  position: absolute;
  top: 0vh;
  left: 15vw;
  z-index: 100;
  width: 40%;
  /* overflow: hidden; */
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
}

.flower1nsaf{
  position: absolute;
  top: -2vh;
  left: 15vw;
  z-index: 100;
  width: 40%;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
}


.dot {
  position: relative;
  left: 61vw;
    height: 164px;
    width: 253px;
}



.logocont2{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.logo{
  /* position:absolute; */
  z-index: 1 !important;
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
}

.logomoblie{
  /* position:absolute; */
  z-index: 10000 !important;
  width: 40%;
  position: fixed;
  top: 10%;
  left: 50%;
  padding-top: 50px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
}



.logo2moblie{
  z-index: 9 !important;
  position: fixed;
  top: 50%;
  width: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}



.entropycont{
  font-size:5vh;
  font-size: calc(40px + 0.390625vw); 
  top: 113vh;
  left: -5%;
  z-index: 200;
  /* position:relative; */
  color: rgb(255, 102, 186);
  color: #ff85c7;
  font-weight: 500;
  font-style: italic;
  overflow-x: hidden;
  /* text-align: center; */
  width: 120vw;
  font-family: serif;
  /* text-decoration: underline; */
  overflow-x:hidden;
  position: absolute;
}

.entropycontmobile{
  font-size:5vh;
  font-size: calc(40px + 0.390625vw);
  left: -5%;
  z-index: 200;
  /* position:relative; */
  color: rgb(255, 102, 186);
  font-weight: 500;
  color: #ff85c7;
  font-style: italic;
  overflow-x: hidden;
  /* text-align: center; */
  /* width: 120vw; */
  font-family: serif;
  /* text-decoration: underline; */
  overflow-x:hidden;
  position: relative;
}

.entropycontfire{
  font-size:5vh;
  font-size: calc(40px + 0.390625vw); top: 78vh;
  left: -5%;
  z-index: 200;
  /* position:relative; */
  color: rgb(255, 102, 186);
  color: #ff85c7;
  font-weight: 500;
  font-style: italic;
  overflow-x: hidden;
  /* text-align: center; */
  width: 120vw;
  font-family: serif;
  text-decoration: underline;
  overflow-x:hidden;
  position: relative;
}

.entropy{
  font-size:5vh;
  font-size: calc(40px + 0.390625vw); 
  left: 0%;
  z-index: 200;
  /* position:relative; */
  color: #ff66ba;
  color: #ff85c7;
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  /* width: 100vw; */
  font-family: serif;
  text-decoration: underline;
  overflow-x:hidden;
  /* position: relative; */
  text-underline-offset: .5rem;
  text-decoration-thickness: 1px;
}


.entropycontsaf{
  font-size:5vh;
  font-size: calc(40px + 0.390625vw); top: 78vh;
  left: -5%;
  z-index: 200;
  /* position:relative; */
  color: rgb(255, 102, 186);
  color: #ff85c7;
  font-weight: 500;
  font-style: italic;
  overflow-x: hidden;
  /* text-align: center; */
  width: 120vw;
  font-family: serif;
  /* text-decoration: underline; */
  overflow-x:hidden;
  position: relative;
}

.entropyraw{
  font-size:8vh;
  font-size: calc(40px + 0.390625vw); top: 0vh;
  left: 60%;
  z-index: 100;
  position:relative;
  /* color: rgb(255, 102, 186); */
  color: #ff85c7;
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  font-family: serif;
  width: 100vw;
  text-decoration: underline;
}





.titleofprojecthottest{
  /* position: absolute; */
  /* top: -39vh; */
  /* left: 61vw; */
  /* transform: translate(-50%, -50%); */
  /* line-height: 36px; */
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
  font-size: 67px; font-size: calc(67px + 0.390625vw);
  width: 100%;
  color: #ffffff;
  position: relative;
  top: -45vh;
  left: 55vw;
  text-decoration-thickness: 1px;
  /* transform: rotate(34deg); */
}


.flyingimg{
  z-index: 1200 !important;;
  width: 60% !important;
  overflow: hidden;
}

.hscrollcont{ 
  z-index: 1100 !important;
    position: absolute;
    left: 250vw;
    top: 440vh;
    padding-left: 5rem;
    height: 30vh;
    width: 100%;
    font-family: serif;
}

.hscrollcontfire{ 
  z-index: 1100 !important;
    position: absolute;
    left: 250vw;
    top: 445vh;
    padding-left: 5rem;
    height: 30vh;
    width: 100%;
    font-family: serif;
}

.hscrollcontsaf{ 
  z-index: 1100 !important;
    position: absolute;
    left: 250vw;
    top: 400vh;
    padding-left: 5rem;
    width: 100%;
    font-family: serif;
}


.hscrollcontspace{ 
  z-index: 1100 !important;
    position: absolute;
    left: 50vw;
    top: 70vh;
    padding-top: 50vh;
    padding-left: 5rem;
    width: 50%;
}




.videocont{
  z-index:-1;
  border: none;
  position: absolute;
  top: 345vh;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(-38.2779%);
      -ms-transform: translateY(-38.2779%);
          transform: translateY(-38.2779%);
          pointer-events: none;
}


.videocontsaf{
  z-index:-1;
  border: none;
  position: relative;
  top: -490vh;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(-38.2779%);
      -ms-transform: translateY(-38.2779%);
          transform: translateY(-38.2779%);
          pointer-events: none;
}


.videocontsaf > iframe {
  width:120%; 
  height:180%; 
  position:absolute; 
  left:-10vh; 
  /* top:-40%;  */
  z-index:-1;
  pointer-events: none;
  }


.videocont > iframe {
  width:120%; 
  height:180%; 
  position:absolute; 
  left:-10vh; 
  /* top:-40%;  */
  z-index:-1;
  pointer-events: none;
  }


  .videocontchrome{
  z-index:-1;
  border: none;
  position: absolute;
  top: 345vh;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(-38.2779%);
      -ms-transform: translateY(-38.2779%);
          transform: translateY(-38.2779%);
          pointer-events: none;
  }


  .videocontchrome > iframe {
    width:120%; 
    height:180%; 
    position:absolute; 
    left:-10vh; 
    z-index:-1;
    pointer-events: none;
    }



.video{
  border: none;
  top: 750vh;
  width: 100vw;
  height: 100vh;
  z-index:-1;
  position:absolute;top:0;left:0;width:100%;height:100%;
  pointer-events: none;
}






.fontstyle{
font-weight: 300;
font-family: serif;
font-style: italic;
text-decoration: underline;
font-size: 67px; font-size: calc(40px + 0.390625vw);
}



.mainImage{
  width: 95%;
  -webkit-animation: animation1 10s ease-in-out infinite;
  animation: animation1 10s ease-in-out infinite;
}

.mainImage2{
  width: 95%;
  -webkit-animation: animation1 10s ease-in-out infinite;
  animation: animation1 10s ease-in-out infinite;
  overflow:hidden;
}










@-webkit-keyframes animation1{

  0% {
    -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  25% {
    -webkit-transform: matrix(0.9,0,0,0.9,0,0);
            transform: matrix(0.9,0,0,0.9,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  75% {
    -webkit-transform: matrix(0.9,0,0,0.9,0,0);
            transform: matrix(0.9,0,0,0.9,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}



@keyframes animation1{

  0% {
    -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  25% {
    -webkit-transform: matrix(0.9,0,0,0.9,0,0);
            transform: matrix(0.9,0,0,0.9,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  75% {
    -webkit-transform: matrix(0.9,0,0,0.9,0,0);
            transform: matrix(0.9,0,0,0.9,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: matrix(1,0,0,1,0,0);
            transform: matrix(1,0,0,1,0,0);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes animation3 {
	0% {-webkit-transform: matrix(1,0,0,1,0,0);transform: matrix(1,0,0,1,0,0); opacity: 1; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out}
	100% {-webkit-transform: matrix(0.9,0,0,0.9,0,0);transform: matrix(0.9,0,0,0.9,0,0); opacity: 1; }
}

@keyframes animation3 {
	0% {-webkit-transform: matrix(1,0,0,1,0,0);transform: matrix(1,0,0,1,0,0); opacity: 1; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out}
	100% {-webkit-transform: matrix(0.9,0,0,0.9,0,0);transform: matrix(0.9,0,0,0.9,0,0); opacity: 1; }
}




.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x:hidden;
  position: absolute;
}



.pagemain {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}








.content {
  display: table-cell;
  vertical-align: middle;
  height:100vh;
}








  /* ------------------------ ------------------------ /* Safari ----------- */




.wrappersafari{
  position: relative;
  z-index: 100;
  width: 100vw;
  top:30vh;
  height: 575vh;
  text-decoration-thickness: 1px;
  -moz-text-decoration-thickness: 1px;
  -webkit-text-decoration-thickness: 1px;
  text-underline-offset: .5rem;
}

.wrappersafari > div {
  position: relative;
  margin: 2vw;
  text-align: center;
  z-index: 100;
}


/* raw reality */
.wrappersafari > div:nth-child(1) {
  /* background: #ddd; */
  position: relative;
  top: 400vh;
  left: -5vw;
  width: 60%;
}


/* raw reality */ 
.wrappersafari > div:nth-child(1)  > img:nth-child(1) {
  -webkit-animation:none !important;
  animation:none !important;
}

.wrappersafari > div:nth-child(1)  > p:nth-child(2){
  /* background: #ddd; */
      text-decoration-thickness: 1px;
  color: rgb(31, 0, 154);
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* line-height: 36px; */
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
  font-size: 48px; font-size: calc(40px + 0.390625vw);
  width: 90%;
  top: 80vh;
  left: 30vw;
  z-index: 200;
  display: none;
  text-decoration-thickness: 1px;
  /* -webkit-transform: rotateY(190deg);
          transform: rotateY(190deg); */
}



/* shooting man */
.wrappersafari > div:nth-child(2) {
  /* background: #ddd; */
  position: relative;
  top: -30vh;
  left: 0vw;
  width: 60vw;
}

.wrappersafari > div:nth-child(2) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
 top: 85vh;
    left: 45vw;
    font-size: 60px; font-size: calc(40px + 0.390625vw);
    font-family: serif;
    color: white;
    /* font-family: serif; */
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            font-style: italic;
            /* text-decoration: none; */
            font-style:normal;
            text-decoration: underline;
            /* font-style: italic; */
}

/* neon girl */
.wrappersafari > div:nth-child(3) {
  /* background: #ddd; */
  position: relative;
  top: -290vh;
  left: 28vw;
  width: 50%;
  left: 0vw;
    
}


/* neon girl */
.wrappersafari > div:nth-child(3) > p:nth-child(2) {
  color: white;
      text-decoration-thickness: 1px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* line-height: 36px; */
  font-weight: 300;
  font-weight: 500;
  font-style:normal;
  text-decoration: underline;
  font-style: italic;
  /* text-decoration: none; */
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 95%;
  top: 45vh;
  left: 60vw;
  text-decoration-thickness: 1px;
  font-size: 48px; font-size: calc(40px + 0.390625vw);
  font-family: serif;
}


/* cute man */
.wrappersafari > div:nth-child(4) {
  /* background: #ddd; */
  position: relative;
  /* top: -339vh; */
  left: 55vw;
  width: 55vh;
  top: -350vh;
  text-decoration-thickness: 1px;
}


.wrappersafari > div:nth-child(4) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* line-height: 36px; */
  font-weight: 300;
  color: #ffffff;
  /* color: #ff85c7; */
  font-family: serif;
  font-style:normal;
  text-decoration: underline;
  font-style: italic;
  /* text-decoration: none; */
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 150%;
  top: 50vh;
  left: -15vw;
  text-decoration-thickness: 1px;
}



/*  blue blob */
.wrappersafari > div:nth-child(5) {
  /* background: #ddd; */
  position: relative;
  top: -320vh;
  /* top: -300vh; */
  left: 25vw;
  width: 60%;
}
.wrappersafari > div:nth-child(5) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
 top: 20vh;
    left: 30vw;
    color: #510202;
    font-family: serif;
    font-size:48px;
 font-size: calc(40px + 0.390625vw);    font-style: normal;
    /* transform: rotate(37deg); */
}



/* orenge blob speachbubble*/
.wrappersafari > div:nth-child(6) {
  /* background: #ddd; */
  position: relative;
  top: -160vh;
  left: 45vw;
  width: 30%;
  -webkit-transform: rotate(345deg);
      -ms-transform: rotate(345deg);
          transform: rotate(345deg);
  /* left: 26vw; */
}

.wrappersafari > div:nth-child(6) p:nth-child(2)  {
  /* background: #ddd; */
      text-decoration-thickness: 1px;
  position: absolute;
  color: #5da665;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 50%;
  font-family: serif;
  top: 11vw;
  left: 30vw;
  font-style: normal;
  display: none;
}


/* swalk */
.wrappersafari > div:nth-child(7) {
  /* background: #ddd; */
  position: relative;
  top: -260vh;
    left: 50vw;
    -webkit-transform: rotate(341deg);
        -ms-transform: rotate(341deg);
            transform: rotate(341deg);
    width: 50%;
}

/* love */
.wrappersafari > div:nth-child(7) > p:nth-child(2) {
  /* color: rgb(255, 0, 0); */
      text-decoration-thickness: 1px;
  /* font-size: 120px font-size: calc(40px + 0.390625vw);; */
  font-size: 89px; font-size: calc(40px + 0.390625vw);
  top: 0vh;
  left: 60%;
  z-index: 100;
  position: absolute;
  color: #7e2626;
  font-weight: 500;
  /* font-style: italic; */
  overflow: hidden;
  font-family: serif;
  font-style: normal;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  top: -35vw;
    left: -35vw;
    -webkit-transform: rotate(19deg);
        -ms-transform: rotate(19deg);
            transform: rotate(19deg);
  text-decoration: underline;
  /* text-decoration-thickness: 1px;
  font-family: "FPTypewriter"; */
  
}

.wrappersafari > div:nth-child(7) > img:nth-child(1) {
  position: relative;
  top: -20vh;
  z-index: 400;
    left: -15vw;
}


/* white blob */
.wrappersafari > div:nth-child(8) {
  /* background: #ddd; */
  position: relative;
  left: 45vw;
  width: 50%;
  z-index: 500;
  top: -740vh;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-thickness: 1px;
}


.wrappersafari{
padding-top: 200px;
text-decoration-thickness: 1px;
}



/* white blob */
.wrappersafari > div:nth-child(8) > p:nth-child(2) {
  /* color: rgb(255, 0, 0); */
      text-decoration-thickness: 1px;
  font-size: 8vh;
 font-size: calc(40px + 0.390625vw);  top: 0vh;
  left: 60%;
  z-index: 400;
  position: absolute;
  color: rgb(255, 102, 186);
  color: #ff85c7;
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  font-family: serif;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* width: 200vw; */
  top: 35%;
    left: 49%;
  text-decoration: underline;
  z-index: 400 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-thickness: 1px;
  font-size: 50px; font-size: calc(40px + 0.390625vw);
  font-style: italic;
}





 .wrappersafari{
  position: relative;
  z-index: 100;
  width: 100vw;
  top:30vh;
  /* height: fit-content; */
  height: 640vh;
  text-decoration-thickness: 1px;
  -moz-text-decoration-thickness: 1px;
  -webkit-text-decoration-thickness: 1px;
  /* overflow: hidden; */
  text-underline-offset: .5rem;
}



.wrappersafari > div {
  position: relative;
  margin: 2vw;
  text-align: center;
  z-index: 100;
}


/* raw reality */
.wrappersafari > div:nth-child(1) {
  position: absolute;
  top: 10vh;
  left: 40vw;
  width: 60%;
}

.wrappersafari > div:nth-child(1) > p:nth-child(2) {
  text-decoration-thickness: 1px;
  font-size: 42px; font-size: calc(40px + 0.390625vw);
  z-index: 400;
  color: rgb(255, 102, 186);
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  font-family: serif;
  text-decoration: underline;
  z-index: 400 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-thickness: 1px;
  font-style: italic;
  position: absolute;
  top: 15vh;
  left: 22vw;
}





/* cute man made in britan*/
.wrappersafari > div:nth-child(2) {
  position: absolute;
  top: 96vh;
  left: 35vw;
  width: 60%;
}

.wrappersafari > div:nth-child(2) > p:nth-child(2) {
      text-decoration-thickness: 1px;
    font-size: 60px; font-size: calc(40px + 0.390625vw);
    font-family: serif;
    color: #ff85c7;
    color: white;
            font-style: italic;
            font-style:normal;
            position: absolute;
            top: 45vh;
            left: -5vw;
}



/* neon girl fashion */
.wrappersafari > div:nth-child(3) {
  position: absolute;
  top: 16vh;
  left: 0vw;
  width: 60%;
}


/* neon girl */
.wrappersafari > div:nth-child(3) > p:nth-child(2) {
  color: white;
      text-decoration-thickness: 1px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* line-height: 36px; */
  font-weight: 300;
  font-style:normal;
  /* font-style: italic; */
  font-family: serif;
  font-style: italic;
  text-decoration: none;
  /* text-decoration: none; */
  font-size: 48px; font-size: calc(40px + 0.390625vw);
  width: 75%;
  top: 45vh;
  left: 40vw;
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  font-family: serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  /* font-family: "FPTypewriter"; */
}


/* you dont need */
.wrappersafari > div:nth-child(4) {
  position: absolute;
  top: 510vh;
  left: 45vw;
  width: 30%;
  -webkit-transform: rotate(345deg);
      -ms-transform: rotate(345deg);
          transform: rotate(345deg);
}


.wrappersafari > div:nth-child(4) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* line-height: 36px; */
  font-weight: 300;
  color: #ffffff;
  /* color: #ff85c7; */
  font-style:normal;
  /* text-decoration: underline; */
  /* font-style: italic; */
  font-family: serif;
  font-style:normal;
  text-decoration: underline;
  font-style: italic;
  /* text-decoration: none; */
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 150%;
  top: 40vh;
  left: -15vw;
  text-decoration-thickness: 1px;
  font-style:normal;
  display: none;
  /* text-decoration: underline; */
  /* font-style: italic; */
}



/*  shooting not so  */
.wrappersafari > div:nth-child(5) {
  position: absolute;
  top: 140vh;
  left: 0vw;
  width: 60%;
}


.wrappersafari > div:nth-child(5) > p:nth-child(2) {
  position: absolute;
  width: 100%;
top: 90vh;
  left: 32vw;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  font-family: serif;
  color: white;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          font-style: italic;
          font-style:normal;
          /* text-decoration: underline; */
}




/* swalk */
.wrappersafari > div:nth-child(6) {
  position: absolute;
  top: 510vh;
  left: 25vw;
    -webkit-transform: rotate(341deg);
        -ms-transform: rotate(341deg);
            transform: rotate(341deg);
    width: 60%;
    z-index: 400;
}

/* love */
.wrappersafari > div:nth-child(6) p:nth-child(2)  {
  text-decoration-thickness: 1px;
  font-size: 89px; font-size: calc(92px + 0.390625vw);
  top: 0vh;
  left: 60%;
  z-index: 100;
  position: absolute;
  color: #7e2626;
  font-weight: 500;
  overflow: hidden;
  font-family: serif;
  font-style: normal;
  width: 100%;
  top: -35vw;
    left: -15vw;
    -webkit-transform: rotate(19deg);
        -ms-transform: rotate(19deg);
            transform: rotate(19deg);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: "FPTypewriter";
}


.wrappersafari > div:nth-child(6) img:nth-child(1)  {
  width: 80%;
  position: absolute;
  top: -20vh;
  left: 10vw;
}


/* blue */
.wrappersafari > div:nth-child(7) {
  position: absolute;
  top: 270vh;
  left: 40vw;
  width: 60%;
}

/* blue */
.wrappersafari > div:nth-child(7) > p:nth-child(2) {
  position: absolute;
  text-decoration-thickness: 1px;
top: 0vh;
left: 0vw;
color: #510202;
font-family: serif;
font-size:48px;
font-size: calc(30px + 0.390625vw);    
font-style: normal;
z-index: 400;
}

.wrappersafari > div:nth-child(7) > img:nth-child(1) {
  position: relative;
  top: -20vh;
  z-index: 400;
    left: -15vw;
}



.wrappersafari > div:nth-child(8) > img:nth-child(1) {
  animation: none !important;
  -webkit-animation: none !important;
}


.wrappersafari > div:nth-child(8) > p:nth-child(2) {
display: none;
}


.wrappersafari{
padding-top: 200px;
text-decoration-thickness: 1px;
}



/* white blob */
.wrappersafari > div:nth-child(8) > p:nth-child(2) {
  /* color: rgb(255, 0, 0); */
      text-decoration-thickness: 1px;
  font-size: 42px; font-size: calc(40px + 0.390625vw);
  top: 0vh;
  left: 60%;
  z-index: 400;
  position: absolute;
  color: rgb(255, 102, 186);
  font-weight: 500;
  font-style: italic;
  overflow: hidden;
  font-family: serif;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* width: 200vw; */
  top: 35%;
    left: 49%;
  text-decoration: underline;
  z-index: 400 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-thickness: 1px;
  font-style: italic;
}
















  /* ------------------------ ------------------------ /* Firefox ----------- */

.wrapperfire{
  position: relative;
  z-index: 100;
  width: 100vw;
  top:30vh;
  height: 646vh;
  text-decoration-thickness: 1px;
  -moz-text-decoration-thickness: 1px;
  -webkit-text-decoration-thickness: 1px;
  overflow: hidden;
  text-underline-offset: .5rem;
  
}

.wrapperfire > div {
  position: relative;
  margin: 2vw;
  text-align: center;
  z-index: 100;
}


/* raw reality */
.wrapperfire > div:nth-child(1) {
  /* background: #ddd; */
  position: relative;
  top: 460vh;
  left: -5vw;
  width: 60%;
}


/* raw reality */ 
.wrapperfire > div:nth-child(1)  > img:nth-child(1) {
  -webkit-animation:none !important;
  animation:none !important;
}

.wrapperfire > div:nth-child(1)  > p:nth-child(2){
  /* background: #ddd; */
      text-decoration-thickness: 1px;
  color: rgb(31, 0, 154);
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* line-height: 36px; */
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
  font-size: 48px; font-size: calc(40px + 0.390625vw);
  width: 90%;
  top: 80vh;
  left: 30vw;
  z-index: 200;
  text-decoration-thickness: 1px;
  display:none; 
}



/* shooting man */
.wrapperfire > div:nth-child(2) {
  /* background: #ddd; */
  position: relative;
  top: -30vh;
  left: 0vw;
  width: 60vw;
}

.wrapperfire > div:nth-child(2) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
 top: 96vh;
    left: 45vw;
    font-size: 60px; font-size: calc(40px + 0.390625vw);
    font-family: serif;
    color: white;
    -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
            transform: rotate(50deg);
            font-style: italic;
            text-decoration: none;
            font-style:normal;
            text-decoration: underline;
            /* font-style: italic; */
}

/* neon girl */
.wrapperfire > div:nth-child(3) {
  /* background: #ddd; */
  position: relative;
  top: -290vh;
  left: 28vw;
  width: 50%;
  left: 0vw;
    
}


/* neon girl */
.wrapperfire > div:nth-child(3) > p:nth-child(2) {
  color: white;
    /* color: #ff85c7; */
      text-decoration-thickness: 1px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* line-height: 36px; */
  font-family: serif;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 95%;
  top: 40vh;
  left: 60vw;
  text-decoration-thickness: 1px;
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  font-family: serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 60px ; font-size: calc(40px + 0.390625vw);
}


/* cute man */
.wrapperfire > div:nth-child(4) {
  /* background: #ddd; */
  position: relative;
  /* top: -339vh; */
  left: 55vw;
  width: 55vh;
  top: -360vh;
  text-decoration-thickness: 1px;
}


.wrapperfire > div:nth-child(4) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* line-height: 36px; */
  font-weight: 100;
  color: #ffffff;
  /* color: #ff85c7; */
  font-family: serif;
  font-style:normal;
  text-decoration: underline;
  /* font-style: italic; */
  /* text-decoration: none; */
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 150%;
  top: 40vh;
  left: -15vw;
  text-decoration-thickness: 1px;
  font-style:normal;
  /* text-decoration: underline; */
  /* font-style: italic; */
}



/*  blue blob */
.wrapperfire > div:nth-child(5) {
  /* background: #ddd; */
  position: relative;
  top: -330vh;
  left: 30vw;
  width: 60%;
}
.wrapperfire > div:nth-child(5) > p:nth-child(2) {
  position: absolute;
      text-decoration-thickness: 1px;
 top: 20vh;
    left: 30vw;
    color: #510202;
    font-family: serif;
    font-size:48px;
 font-size: calc(40px + 0.390625vw);    font-style: normal;
    /* transform: rotate(37deg); */
}

/* orenge blob */
.wrapperfire > div:nth-child(6) {
  /* background: #ddd; */
  position: relative;
  top: -125vh;
  left: 45vw;
  width: 30%;
  -webkit-transform: rotate(345deg);
      -ms-transform: rotate(345deg);
          transform: rotate(345deg);
  /* left: 26vw; */
}

.wrapperfire > div:nth-child(6) p:nth-child(2)  {
  /* background: #ddd; */
      text-decoration-thickness: 1px;
  position: absolute;
  color: #5da665;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  width: 50%;
  font-family: serif;
  top: 11vw;
  left: 30vw;
  font-style: normal;
  display: none;
}


/* swalk */
.wrapperfire > div:nth-child(7) {
  /* background: #ddd; */
  position: relative;
  top: -230vh;
    left: 50vw;
    -webkit-transform: rotate(341deg);
        -ms-transform: rotate(341deg);
            transform: rotate(341deg);
    width: 50%;
}

/* love */
.wrapperfire > div:nth-child(7) > p:nth-child(2) {
  /* color: rgb(255, 0, 0); */
      text-decoration-thickness: 1px;
  /* font-size: 120px font-size: calc(40px + 0.390625vw);; */
  font-size: 89px; font-size: calc(40px + 0.390625vw);
  top: 0vh;
  left: 60%;
  z-index: 100;
  position: absolute;
  color: #7e2626;
  font-weight: 500;
  /* font-style: italic; */
  overflow: hidden;
  font-family: serif;
  font-style: normal;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  top: -35vw;
    left: -35vw;
    -webkit-transform: rotate(19deg);
        -ms-transform: rotate(19deg);
            transform: rotate(19deg);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.wrapperfire > div:nth-child(7) > img:nth-child(1) {
  position: relative;
  top: -20vh;
  z-index: 400;
    left: -15vw;
}


/* white blob */
.wrapperfire > div:nth-child(8) {
  position: relative;
  left: 45vw;
  width: 50%;
  z-index: 500;
  top: -775vh;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration-thickness: 1px;
}


.wrapperfire{
padding-top: 200px;
text-decoration-thickness: 1px;
}



/* white blob */
.wrapperfire > div:nth-child(8) > p:nth-child(2) {
  position: absolute;
  color: rgb(255, 102, 186);
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  font-family: serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 60px; font-size: calc(40px + 0.390625vw);
  top: 30%;
  left: 49%;
  z-index: 400 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
}











  /* ------------------------ ------------------------ /* Footer ----------- */

  .footer {
    border-top: 1px solid #eaeaea;
    -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#eaeaea;
    font-size: 10px ; font-size: calc(5px + 0.390625vw);
    padding: var(--s-10);
    text-transform: uppercase;
    position: absolute;
    bottom: -160px;
    width: 100vw;
    background: #212121;
    background: linear-gradient(185deg, rgba(35,35,35,1) 36%, rgba(89,89,89,1) 100%);
            /* background-image: url("../public/images/backgroundbottompart3.png");
    background-size:cover;
    height: 20vh; */
  }
  
  .footer a {
    text-decoration: underline;
  }
  
  .footer {
    /* padding: 1% 5%; */
    text-align:center;
    color: white;
    z-index: 400;
  }












   /* ------------------------------------------ Compta ------------------------------------------------------------------ */




/* -----------------mobile ------------------------ */

.mainmobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* overflow-x:hidden;
  position: absolute; */
}

.feedmobile > div:nth-child(1) {
 position: absolute;
 top: 75vh;
}

.feedmobile > div:nth-child(2) {
 position: absolute;
 top: 130vh;
}


.feedmobile > div:nth-child(3) {
 position: absolute;
 top: 210vh;
}


.feedmobile > div:nth-child(4) {
  padding-top: 43vh;
  position: absolute;
  top: 280vh;
}


.feedmobile > div:nth-child(5) {
  position: absolute;
  top: 390vh;
}

.feedmobile > div:nth-child(6) {
  position: absolute;
  top: 490vh;
}

/* .feedmobile > div:nth-child(7) {
  position: absolute;
  top: 700vh;
} */


  /* blue head */
  .feedmobile > div:nth-child(8) {
    position: absolute;
    /* bottom:0px;  */
    top: 595vh;
    left: -32px;
    padding-bottom: 14vh;

  }


  .feedmobile > div:nth-child(8) > img:nth-child(1) {
    animation: none !important;
    -webkit-animation: none !important;
  }

  .feedmobile > div:nth-child(8) > div:nth-child(2) p:nth-child(1) {
    display: none;
  }
  

  .videomobile{
    position: absolute;
    top: 520vh;
    width: 100vw;
    display: unset;
    height: 100vh;
    /* left: -32px; */
    /* padding-bottom: 18vh; */
  }


  .videomobilecont{
    height: 100vh;
    /* left: -32px; */
    /* padding-bottom: 18vh; */
  }


.feedmobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  padding-top: 20vh;
  width: 100vw;
  position: relative;
}

.wrappermobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 636vh;
  height: 596vh;
  text-decoration-thickness: 1px;
  -moz-text-decoration-thickness: 1px;
  -webkit-text-decoration-thickness: 1px;
  text-underline-offset: .5rem;
}


.titleofprojectsn2mobile{
  position: relative;
font-weight: 300;
color: #ffffff;
font-style: italic;
text-decoration: underline;
top: -20vh;
z-index: 100;
left: 0vw;
mix-blend-mode: exclusion;

}



.videocontmobile > iframe {
  position:absolute; 
  top:40%; 
  z-index:-1;
  pointer-events: none;
  }





  .footermobile{
    border-top: 1px solid #eaeaea;
    -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#eaeaea;
    font-size: 10px ; font-size: calc(5px + 0.390625vw);
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: linear-gradient(185deg, rgba(35,35,35,1) 36%, rgba(89,89,89,1) 100%);
  }
  
  .footermobile a {
    text-decoration: underline;
  }
  
  .footermobile {
    text-align:center;
    color: white;
    z-index: 400;
  }


  .main h1, .main h3 {
    text-align: center;
  }
  .feed {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
  }
  .post {
    margin: 25px;
    width: 500px;
    /* height: 316px; */
    cursor: pointer;
    text-align: center;
    max-width: calc(100vw - 50px);
  }
  .mainImage {
    width: 500px;
    transition: 0.2s;
    border-radius: 5px;
    max-width: calc(100vw - 50px);
    /* box-shadow: 0px 0px 2px black; */
  }
  .post:hover .mainImage {
    width: 490px;
    transition: 0.2s;
  }

  .fontstylemobile{
    font-weight: 300;
  font-family: serif;
  font-style: italic;
  text-decoration: underline;
  font-size: 67px; font-size: calc(25px + 0.390625vw);
  z-index: 200;
  color: #f6f6f6;
  }


  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {

.logomoblie{
  z-index: 10000 !important;
    width: 20%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0rem 0rem 0.5rem rgb(255, 255, 255));
    padding-top: 50px;
}


.videomobile{
  position: absolute;
    top: 555vh;
    width: 100vw;
    display: unset;
    height: 100vh;
}


.feedmobile > div:nth-child(8) {
  position: absolute;
  top: 630vh;
  left: -32px;
  padding-bottom: 14vh;
}

  }
 


  @media all and (device-width: 1180px) and (device-height: 820px) and (orientation:landscape) {
    .logomoblie{
      z-index: 10000 !important;
        width: 20%;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0rem 0rem 0.5rem rgb(255, 255, 255));
        padding-top: 50px;
    }
    
    
    .videomobile{
      position: absolute;
        top: 555vh;
        width: 100vw;
        display: unset;
        height: 100vh;
    }
    
    
    .feedmobile > div:nth-child(8) {
      position: absolute;
      top: 630vh;
      left: -32px;
      padding-bottom: 14vh;
    } 
  }




  @media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape) {
    .logomoblie{
      z-index: 10000 !important;
        width: 20%;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0rem 0rem 0.5rem rgb(255, 255, 255));
        padding-top: 50px;
    }
    
    
    .videomobile{
      position: absolute;
        top: 555vh;
        width: 100vw;
        display: unset;
        height: 100vh;
    }
    
    
    .feedmobile > div:nth-child(8) {
      position: absolute;
      top: 630vh;
      left: -32px;
      padding-bottom: 14vh;
    } 
  }







/* ------------------------ ------------------------ /* Large screens ----------- */



@media screen and (min-width : 1536px) {
  
  
  /* blue */
.wrapper > div:nth-child(7) > p:nth-child(2) {
  position: absolute;
  text-decoration-thickness: 1px;
top: 2vh;
left: 2vw;
color: #510202;
font-family: serif;
font-size:48px;
font-size: calc(30px + 0.390625vw);    
font-style: normal;
z-index: 400;
}


.hscrollcont{ 
  z-index: 1100 !important;
    position: absolute;
    left: 250vw;
    top: 435vh;
    padding-left: 5rem;
    height: 30vh;
    width: 100%;
    font-family: serif;
}


.entropycont{
  font-size:5vh;
  font-size: calc(40px + 0.390625vw); 
  top: 105vh;
  left: -5%;
  z-index: 200;
  color: rgb(255, 102, 186);
  color: #ff85c7;
  font-weight: 500;
  font-style: italic;
  overflow-x: hidden;
  width: 120vw;
  font-family: serif;
  overflow-x:hidden;
  position: absolute;
}

/* raw reality */
.wrapper > div:nth-child(1) > p:nth-child(2) {
  top: 21vh;
  left: 23vw;
}


.wrapper > div:nth-child(3) > p:nth-child(2) {
  top: 46vh;
  left: 47vw;
  font-size: 60px; font-size: calc(50px + 0.390625vw);
  /* font-family: "FPTypewriter"; */
}


/*  shooting not so  */
.wrapper > div:nth-child(5) > img:nth-child(1){
  position: relative;
  top: 5vh;
}
.wrapper > div:nth-child(5) > p:nth-child(2) {
  top: 95vh;
  left: 32vw;
}


.man{
  z-index: 100;
  width: 50%;
  overflow: hidden;
  position: absolute;
  /* height: 20%; */
  left: 0vw;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
  top: 275vh;
  -webkit-animation: glitter 5s infinite;
          animation: glitter 5s infinite;
}


.manchrome{
  z-index: 100;
  width: 50%;
  overflow: hidden;
  position: absolute;
  /* height: 20%; */
  left: 0vw;
  -webkit-filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
          filter: drop-shadow(0rem 0rem .5rem rgb(255, 255, 255));
  top: 275vh;
  -webkit-animation: glitter 5s infinite;
          animation: glitter 5s infinite;
}
}



